src/main/resources/api/hotelBookingsamplewsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.mainassignment.org/HotelService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HotelService" targetNamespace="http://www.mainassignment.org/HotelService/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.mainassignment.org/HotelService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.mainassignment.org/HotelService/">
            <xsd:element name="GetHotels">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="0" name="hotelId" type="xsd:int"/>
                        <xsd:element name="City" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="Location" type="xsd:string"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="HotelName" type="xsd:string"/>
                        <xsd:element name="CheckinDate" type="xsd:string">
                    </xsd:element>
                        <xsd:element name="CheckoutDate" type="xsd:string">
                    </xsd:element>
                        <xsd:element name="Rooms" type="xsd:int">
                    </xsd:element>
                        <xsd:element maxOccurs="1" minOccurs="0" name="RoomType" type="xsd:string">
                    </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetHotelsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="HotelID" type="xsd:int"/>
                        <xsd:element name="HotelName" type="xsd:string"/>
                        <xsd:element name="Location" type="xsd:string"/>
                        <xsd:element name="City" type="xsd:string"/>
                        <xsd:element name="Price" type="xsd:int"/>
                        <xsd:element name="RoomType" type="xsd:string"/>
                        <xsd:element name="TotalRooms" type="xsd:string"/>
                        <xsd:element name="AvailableRooms" type="xsd:string">
                    </xsd:element>
                        <xsd:element name="FreeCancellation" type="xsd:string">
                    </xsd:element>
                        <xsd:element name="FreeWifi" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetHotelsRequest">
        <wsdl:part element="tns:GetHotels" name="parameters">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetHotelsResponse">
        <wsdl:part element="tns:GetHotelsResponse" name="parameters">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HotelService">
        <wsdl:operation name="GetHotels">
            <wsdl:input message="tns:GetHotelsRequest">
    </wsdl:input>
            <wsdl:output message="tns:GetHotelsResponse">
    </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HotelServiceSOAP" type="tns:HotelService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetHotels">
            <soap:operation soapAction="http://www.mainassignment.org/HotelService/GetHotels"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HotelService">
        <wsdl:port binding="tns:HotelServiceSOAP" name="HotelServiceSOAP">
            <soap:address location="http://localhost:8081//HotelService/HotelServiceSOAP"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>